/* Body Style */
body{
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

/* To do list container style */
.container {
    background-color:#ffffff ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* input styles */
input{
    background-color: #b488f5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 70%; /* that is 70% of its container but still maintain its centre alignment*/
    padding: 10px; /* top, right, left, down blank spaces inside the input*/
    margin-right: 5px; /*blank border of the rif=ght side of the input*/
}

/* button style */
button{
    padding: 10px;
    cursor: pointer;
    background-color: #8a2be2;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

button:hover {
    background-color: #5a189a;
}

/* list styles ul and li */

ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-radius: 5px;
}

span{
    color: #5a189a;
    font-weight: bold;
}